<nav class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
    <li class="breadcrumb-item active">Lançamento</li>      
  </ol>
</nav>

<div class="row mb-3">
<div class="col-md">
  <div class="h2 border-left pl-2">
    Lançamento
  </div>
</div>
<div class="col-md">
    <a routerLink="/entries" class="btn btn-success float-right">
      < voltar 
    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
    
    
  <div class="form-row">  
    
    <!--Tipo Despesa Lançamento-->
    <div class="form-group col-md-2">
          <label for="tipoDespesa">Tipo</label>
          <select #tipoDespesa="ngModel" [(ngModel)]="entries.tipoDespesa" name="tipoDespesa" id="tipoDespesa"  class="form-control" required>     
            
            <option *ngFor="let option of typeOptions" [value]="option.value">{{ option.text }}</option>        
          </select>
      </div>
     
      <!--Nome Lançamento-->
        <div class="form-group col-md-5">
          <label for="nome">Lançamento</label>
          <input #nome="ngModel" [(ngModel)]="entries.nome" name="nome" id="nome" type="text" class="form-control" required>
        </div>   

        <!--Valor Lançamento-->
        <div class="form-group col-md-3">
          <label for="valor">Preço</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input currencyMask  
                      [options]="{ prefix: 'Rs ', thousands: '.', decimal: ',' }"                        
                       #valor="ngModel" 
                       [(ngModel)]="entries.valor" 
                       name="valor" 
                       id="valor" 
                       type="text" 
                       class="form-control text-right"  
                       required [min]="0"> 
           
            </div>   
       </div>

          <!--Data Lançamento-->       
          <div class="form-group col-md-2">
            <label for="data">Data</label>
            <p-calendar #data="ngModel" 
                        [(ngModel)]="entries.data" 
                        dateFormat="dd/mm/yy" 
                        inputStyleClass="form-control" 
                        name="data"
                        id="data"
                        dataType="string"
                        [locale]="ptBR"
                        [showButtonBar]="true"
                        ></p-calendar>
          </div>   
      
    
   </div>   

   
   <div class="form-row">

        <!--Pago / pendente Lançamento-->
        <div class="form-group col-md-2">
            <label for="pago">Pago</label>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" name="pago" id="pago" #pago="ngModel" [(ngModel)]="entries.pago">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value=true> Pago
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value=false> Pendente
                </label>
            </div>          
        </div> 
        

        <!--Lista Categoria Lançamento-->
        <div class="form-group col-md-3">
            <label for="category">Categoria</label>
            <select #category="ngModel" [(ngModel)]="entries.category" name="category" id="category"  class="form-control" required>     
                <option *ngFor="let c of categories$ | async" [value]="c.key">
                    {{ c.nome }}                                    
            </select>
        </div>

        <!--Descrição Lançamento-->
        <div class="form-group col-md-7">
          <label for="descricao">Descrição</label>
          <input #descricao="ngModel" [(ngModel)]="entries.descricao" name="descricao" id="descricao" type="text" class="form-control" required>
        </div>  

  </div>  
        
        <button type="button" (click)="delete()" class="btn btn-danger float-right btn-sm">Delete</button>
        <button class="btn btn-primary mr-1 float-right">Save</button>


    </form>
     <!-- <pre>{{ entries | json }}</pre>  -->
  </div>
</div>